@charset "UTF-8";

.tabButton {
  height: 75px;
  width: 105px;
  border: none;
  background: linear-gradient(0deg, deepskyblue, deepskyblue);
  border-radius: 10px 10px 0px 0px;
  font-family: "Trebuchet MS";
  font-size: 1em;
}
